.rct-sidebar-row .people_2 {
    background-color: #F2F2F2
}

.rct-sidebar-row .people_1 {
    background-color: #D9D9D9;
}

.rct-sidebar-row .equipment_2 {
    background-color: #FDA79E;
}

.rct-sidebar-row .equipment_1 {
    background-color: #FFF1F1;
}

  